.Services{
    background-image: url("../img/home.jpeg");
    background-position: center; /* Center the image */
    background-repeat: repeat-y; /* Do not repeat the image */
    background-size: cover;
    height: 95vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-Services{
    background-color:rgb(184, 58, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 70vh;
    height: 50vh;
    border-radius: 5vh;
    -webkit-box-shadow: 16px 31px 37px 11px rgba(0,0,0,0.72);
    -moz-box-shadow: 16px 31px 37px 11px rgba(0,0,0,0.72);
    box-shadow: 16px 31px 37px 11px rgba(0,0,0,0.72);
}
@media screen and (max-width: 1080px) {
    .container-Services{
      width: 60vw;
    }
}
