.Troll{
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-Troll{
    background-color:rgb(184, 58, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vh;
    height: 70vh;
    border-radius: 5vh;
}
.container-Troll p {
    background-color: #242424;
    margin-bottom: 2vh;
    padding: 1vw;
    border-radius: 5vw;
}
@media screen and (max-width: 1080px) {
    .container-Troll {
        font-size: 4vw;
        width: 70vw;
    }
    .container-Troll p {
        margin-bottom: 1vh;
        padding: 1vw;
        border-radius: 5vw;
    }
    img{
        width: 60vw;
    }
}